/* Interaction Elements */

form.form-container.my-form {
  position: static;
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0vh auto;
  padding: 0;
  min-height: 50px;
  max-width: none;
  border: .0625rem solid #c1c1c1;
  border-top-left-radius: 9px 8px;
  border-top-right-radius: 9px 8px;
  border-bottom-right-radius: 9px 8px;
  border-bottom-left-radius: 9px 8px;
  background-color: #242424;
  box-shadow: none;
  opacity: 1;

  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
     -moz-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  justify-self: auto;
}

input[type=email] {
  border-color: #b9c2d2;
  border-radius: 4px;
  color: #333;
  font-size: 15px;
  font-family: 'Roboto', cursive;
}

input[type=email].email-field-1 {
  margin-bottom: 5px;
  padding: 8px;
  min-height: 50px;
  height: 50px;
  border-width: .125rem;
  border-color: #d03027;
  border-radius: 8px;
  background-color: #191919;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

input[type=email]:focus {
  box-shadow: rgba(139, 162, 198, .4) 0 0 8px 0;
}

label.label-container {
  padding-bottom: 16px;
}

button.button {
  background-color: #5f78a0;
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

button.submit-btn {
  border-width: 0;
  border-radius: 8px;
  font-size: 18px;
}

button.button.submit-btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 15px 30px;
  border-width: 0;
  border-radius: 8px;
  background-color: #d03027;
  text-transform: none;
  font-weight: 500;
  font-variant: normal;
  font-size: 20px;
  opacity: .9;
  cursor: pointer;
  -webkit-transform: scaleZ(1);
     -moz-transform: scaleZ(1);
          transform: scaleZ(1);
}

label.label-container.label-container-1 {
  display: block;
  padding: 0;
}

button.button.submit-btn:hover {
  background-color: #000;
}

@media screen and (min-width: 40rem) {
  /* Interaction Elements */

  form.form-container.my-form {
    max-width: 640px;
  }
}